name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  e2e:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        wordpress-image-tag: ["latest", "4.6.1-apache"]
    steps:
      - uses: actions/checkout@v4
        with:
          path: ${{ github.workspace }}/plugins/staticpress2019
      - id: set_branch_name
        run: |
          if [ "${IS_PULL_REQUEST}" = true ]
          then
              echo "::set-output name=branch_name::$(echo ${GITHUB_HEAD_REF#refs/heads/} | sed 's/\//_/g')"
          else
              echo "::set-output name=branch_name::$(echo ${GITHUB_REF#refs/heads/} | sed 's/\//_/g')"
          fi
        env:
          IS_PULL_REQUEST: ${{ startsWith( github.ref, 'refs/pull/' ) }}
      - uses: actions/checkout@v4
        with:
          repository: yukihiko-shinoda/docker-compose-pytest-playwright-staticpress2019
          ref: ${{ steps.set_branch_name.outputs.branch_name }}
          path: ${{ github.workspace }}/docker-compose-pytest-playwright-staticpress2019
      - run: docker compose -f compose.test.yml run --rm playwright
        working-directory: ${{ github.workspace }}/docker-compose-pytest-playwright-staticpress2019
        env:
          PATH_TO_PLUGIN_DIRECTORY: ${{ github.workspace }}/plugins
          WORDPRESS_IMAGE_TAG: ${{ matrix.wordpress-image-tag }}
          CONTAINERD_ENABLE_DEPRECATED_PULL_SCHEMA_1_IMAGE: '1'
  unit:
    strategy:
      fail-fast: false
      matrix:
        software-versions:
          # Because current PHP recommended version is 7.4+.
          # @see https://wordpress.org/support/article/requirements/
          # PHP 7.4 is already end of life.
          # @see https://www.php.net/supported-versions.php
          - ["8.4", "latest", "<10.0.0", "*", "8.0"]
          # Because now PHP 8.0 is in the Active Support period and should be focused in development.
          # @see https://www.php.net/supported-versions.php
          # According to commit message of this definition,
          # the trunk version seems to should be tested by current major support PHP version.
          # @see:
          # - Rebuild `.travis.yml` file · wp-cli/scaffold-command@fe11bcc
          #   https://github.com/wp-cli/scaffold-command/commit/fe11bcc02a2ee164c987e2cb14fcb08dfe73663b
          - ["8.4", "trunk", "<10.0.0", "*", "8.0"]
          # Case for lowest WordPress version
          # 2025-11-22: PHPUnit 5 is no longer supported in GitHub Actions Runner
          #   Problem 1
          #     - Root composer.json requires yoast/phpunit-polyfills ^3.1 -> satisfiable by yoast/phpunit-polyfills[3.1.0, 3.1.1, 3.1.2].
          #     - yoast/phpunit-polyfills[3.1.0, ..., 3.1.2] require phpunit/phpunit ^6.4.4 || ^7.0 || ^8.0 || ^9.0 || ^11.0 -> found phpunit/phpunit[6.4.4, ..., 6.5.14, 7.0.0, ..., 7.5.20, 8.0.0, ..., 8.5.48, 9.0.0, ..., 9.6.29, 11.0.0, ..., 11.5.44] but it conflicts with your root composer.json require (4.8.*|5.7.*).
          - ["7.1", "5.4.0", "<10.0.0", "", "5.6"]
          # We don't support WordPress 5.9
          # WordPress 5.9.0 (released January 25, 2022) introduced breaking changes to the test suite infrastructure:
          # - Added dependency on external PHPUnit Polyfills library (required for the first time)
          # - Changed from PHPUnit's native transaction handling to Polyfills-based handling
          # - Modified how setUp() and tearDown() methods work (snake_case vs camelCase)
          # - Changed how database transactions are initiated and rolled back
          # - Changes to the WordPress Core PHP Test Suite – Make WordPress Core
          #   https://make.wordpress.org/core/2021/09/27/changes-to-the-wordpress-core-php-test-suite/
          # - PHPUnit Compatibility and WordPress Versions – Make WordPress Core
          #   https://make.wordpress.org/core/handbook/references/phpunit-compatibility-and-wordpress-versions/
          #   > In WordPress 5.9: Added a dependency on the external PHPUnit Polyfills, which enabled support for PHPUnit 8 and 9,
          #   > making it so the tests can now run on the most appropriate PHPUnit version for each PHP version.
          # The Easy Digital Downloads Issue #8990 documents that WordPress 5.9's PHPUnit Polyfills integration caused test failures,
          # requiring projects to add explicit Polyfills support.
          # The timing of fixture creation (in set_up() vs setUp()) and transaction initiation may have been inconsistent in WordPress 5.9.0, causing:
          # - wp_insert_category() to fail when called before transactions start
          # - wp_delete_post() to fail during cleanup
          # - Table lifecycle management to behave unpredictably
          # - Make unit tests work with WordPress 5.9 · Issue #8990 · awesomemotive/easy-digital-downloads
          #   https://github.com/awesomemotive/easy-digital-downloads/issues/8990
          - ["7.0", "5.9.1", "<10.0.0", "", "5.6"]
          # Cases for PHP versions as much as latest WordPress version
          # Each reference for minimum version:
          # PHP:
          # - PHP Compatibility and WordPress Versions – Make WordPress Core
          #   https://make.wordpress.org/core/handbook/references/php-compatibility-and-wordpress-versions/
          # We no longer maintain PHP less than 7.3.0
          # since there are no PHP official image that OS version is bullseye or more
          # and apt repositories in sources.list in remaining images no longer exist,
          # they need special treat in Dockerfile to prepare development environment.
          # - php Tags | Docker Hub
          #   https://hub.docker.com/_/php/tags?name=7.2-apache
          - ["8.3", "latest", "<10.0.0", "*", "8.0"]
          - ["8.2", "latest", "<10.0.0", "*", "8.0"]
          - ["8.1", "latest", "<10.0.0", "*", "8.0"]
          - ["8.0", "latest", "<10.0.0", "*", "8.0"]
          - ["7.4", "latest", "", "", "8.0"]
          - ["7.3", "latest", "", "", "8.0"]
          - ["7.2", "latest", "", "", "8.0"]
          - ["7.1", "6.5.5", "", "", "8.0"]
          - ["7.0", "6.5.5", "", "", "8.0"]
    env:
      PHP_VERSION: ${{ matrix.software-versions[0] }}
      WORDPRESS_VERSION: ${{ matrix.software-versions[1] }}
      PHPUNIT_REQUIRE: ${{ matrix.software-versions[2] || '4.8.*|5.7.*|<8.0.0' }}
      MOCKERY_REQUIRE: ${{ matrix.software-versions[3] || '1.3.*' }}
      MYSQL_VERSION: ${{ matrix.software-versions[4] }}
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:${{ matrix.software-versions[4] }}
        env:
          # The MySQL docker container requires these environment variables to be set
          # so we can create and migrate the test database.
          # See: https://hub.docker.com/_/mysql
          MYSQL_ROOT_PASSWORD: examplepass
        ports:
          # Opens port 3306 on service container and host
          # https://docs.github.com/en/actions/using-containerized-services/about-service-containers
          - 3306:3306
          # Before continuing, verify the mysql container is reachable from the ubuntu host
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - name: Install Subversion
        run: |
          sudo apt-get update
          sudo apt-get install -y subversion
      - uses: actions/checkout@v4
      # To change `default_authentication_plugin` in MySQL:
      # - Change options that can only be specified at startup with mysqld in services of GitHub Actions - @znz blog
      #   https://blog.n-z.jp/blog/2021-02-20-github-actions-services-mysqld-option.html
      - name: Add conf
        run: |
          set -eux
          chmod 644 ${{ github.workspace }}/mysql/conf.d/${{ (env.PHP_VERSION <= '7.3' && 'nativepassword') || 'empty' }}.cnf
          docker cp ${{ github.workspace }}/mysql/conf.d/${{ (env.PHP_VERSION <= '7.3' && 'nativepassword') || 'empty' }}.cnf ${{ job.services.mysql.id }}:/etc/mysql/conf.d/custom.cnf
      - name: Restart mysql
        run: |
          set -eux
          docker restart ${{ job.services.mysql.id }}
          for sleep in 0 ${WAITS:- 1 2 4 8 15 25 100}; do
            sleep "$sleep"
            health_status=`docker inspect --format="{{if .Config.Healthcheck}}{{print .State.Health.Status}}{{end}}" ${{ job.services.mysql.id }}`
            if [ 'starting' != "$health_status" ]; then
              exit 0
            fi
          done
          exit 1
      - name: Debug
        run: docker logs ${{ job.services.mysql.id }}
      - name: Change authentication to mysql_native_password
        if: ${{ env.MYSQL_VERSION >= '8.0' }}
        run: |
          mysql --user=root --password=examplepass --host=127.0.0.1 --port=3306 --protocol=tcp --execute='alter user "root"@"%" identified with mysql_native_password by "examplepass";'
          mysql --user=root --password=examplepass --host=127.0.0.1 --port=3306 --protocol=tcp --execute='select user, host, plugin from mysql.user;'
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ env.PHP_VERSION }}
      # It seems to have to be not localhost but 127.0.0.1 on Ubuntu 18.04 .
      # @see https://stackoverflow.com/a/41997588
      - run: bash bin/install-wp-tests.sh wordpress_test root examplepass 127.0.0.1 $WORDPRESS_VERSION
      # Suppress below error:
      #   Error: dealerdirect/phpcodesniffer-composer-installer (installed globally) contains a Composer plugin which is blocked by your allow-plugins config.
      #   You may add it to the list if you consider it safe.
      - run: composer global config --no-plugins allow-plugins.dealerdirect/phpcodesniffer-composer-installer true
      - run: composer global require "phpunit/phpunit:${{ env.PHPUNIT_REQUIRE }}" yoast/phpunit-polyfills "mockery/mockery:${{ env.MOCKERY_REQUIRE }}"
      - name: Prevent to access real example.org
        run: sudo echo "127.0.0.1 example.org" | sudo tee -a /etc/hosts
      - run: phpunit
      - run: WP_MULTISITE=1 phpunit
  phpcs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
      # Suppress below error:
      #   Error: dealerdirect/phpcodesniffer-composer-installer (installed globally) contains a Composer plugin which is blocked by your allow-plugins config.
      #   You may add it to the list if you consider it safe.
      - run: composer global config --no-plugins allow-plugins.dealerdirect/phpcodesniffer-composer-installer true
      - run: composer global require wp-coding-standards/wpcs dealerdirect/phpcodesniffer-composer-installer phpcompatibility/phpcompatibility-wp automattic/vipwpcs
      - run: phpcs
        continue-on-error: true
